In [1]:
import pandas as pd
import boto3
import json
import configparser
import psycopg2

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = ''
SECRET                 = ''

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

In [3]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [4]:
sampleDbBucket =  s3.Bucket("udacity-dend")
for obj in sampleDbBucket.objects.filter(Prefix="log_json_path"):
    print(obj.key)

log_json_path.json

In [ ]:
    print(obj.key)
    
    with open('data.txt') as json_file:
    data = json.load(json_file)

In [5]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::835243883054:role/dwhRole

In [6]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

In [11]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters']
print(myClusterProps)

[{'ClusterIdentifier': 'dwhcluster', 'NodeType': 'dc2.large', 'ClusterStatus': 'available', 'MasterUsername': 'dwhuser', 'DBName': 'dwh', 'Endpoint': {'Address': 'dwhcluster.c8nxrlthvxvi.us-west-2.redshift.amazonaws.com', 'Port': 5439}, 'ClusterCreateTime': datetime.datetime(2020, 4, 10, 13, 43, 13, 824000, tzinfo=tzlocal()), 'AutomatedSnapshotRetentionPeriod': 1, 'ClusterSecurityGroups': [], 'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-78dc2c24', 'Status': 'active'}], 'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0', 'ParameterApplyStatus': 'in-sync'}], 'ClusterSubnetGroupName': 'default', 'VpcId': 'vpc-d0bcdaa8', 'AvailabilityZone': 'us-west-2b', 'PreferredMaintenanceWindow': 'thu:12:30-thu:13:00', 'PendingModifiedValues': {}, 'ClusterVersion': '1.0', 'AllowVersionUpgrade': True, 'NumberOfNodes': 4, 'PubliclyAccessible': True, 'Encrypted': False, 'ClusterPublicKey': 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQChP4HGmuoyUASbdRNnYzN4zq5y+KmyuikbFA2QIdDw3P9jCiyiufOmoxDKVmXAQsEm0X9h9/mqLMzRR/1w6rIYyOTVgTu1d4fLWY990oYRuyrxQMPfKek5hCqdxxoT4XOUCGIp/KEI5lB32nu2KV26oxFSOdM2OLW9IzXxL5KAKqdy6MtkSyCpY/lcgLh5oO3ed6V6WUyGndNZ8ZbLwAOvG2NdgCRZ0COke37Z0mCEoIH2uVzC3tdio9iZm35sjjmGCi4IBCa42BUgNPQx0FwV3AtGU/oKEWQFNA8DwBJmZt59QCC51+KLfQ8dWOFCPvv+G9ARiB1EVcCgJzZcY+KP Amazon-Redshift\n', 'ClusterNodes': [{'NodeRole': 'LEADER', 'PrivateIPAddress': '172.31.30.93', 'PublicIPAddress': '54.188.12.157'}, {'NodeRole': 'COMPUTE-0', 'PrivateIPAddress': '172.31.21.85', 'PublicIPAddress': '54.185.83.251'}, {'NodeRole': 'COMPUTE-1', 'PrivateIPAddress': '172.31.27.245', 'PublicIPAddress': '52.38.200.223'}, {'NodeRole': 'COMPUTE-2', 'PrivateIPAddress': '172.31.21.72', 'PublicIPAddress': '54.189.59.11'}, {'NodeRole': 'COMPUTE-3', 'PrivateIPAddress': '172.31.26.210', 'PublicIPAddress': '35.155.92.143'}], 'ClusterRevisionNumber': '14677', 'Tags': [], 'EnhancedVpcRouting': False, 'IamRoles': [{'IamRoleArn': 'arn:aws:iam::835243883054:role/dwhRole', 'ApplyStatus': 'in-sync'}], 'MaintenanceTrackName': 'current', 'ElasticResizeNumberOfNodeOptions': '[2,8]'}]

In [19]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.c8nxrlthvxvi.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-d0bcdaa8
7,NumberOfNodes,4

In [23]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", Endpoint)
print("DWH_ROLE_ARN :: ", roleArn)

NameError: name 'Endpoint' is not defined

In [21]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-78dc2c24')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [15]:
%load_ext sql

In [24]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c8nxrlthvxvi.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [28]:
#Total Count of Staging events = 8056
%sql SELECT count(*) FROM staging_events ;

 * postgresql://dwhuser:***@dwhcluster.c8nxrlthvxvi.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [29]:
#Total count of Staging_songs = 14896
%sql SELECT count(*) FROM staging_songs ;

 * postgresql://dwhuser:***@dwhcluster.c8nxrlthvxvi.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [ ]:
## Below queries are run to make sure data has been properly loaded.

In [27]:
%sql SELECT * FROM fact_songplay limit 5 ;

 * postgresql://dwhuser:***@dwhcluster.c8nxrlthvxvi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(61, datetime.datetime(9999, 6, 27, 4, 40, 39), 58, 'paid', 'SOJWCWM12A8C13B664', 'ARM6T8I1187FB36CC8', 887, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (104, datetime.datetime(9999, 6, 27, 4, 40, 39), 58, 'paid', 'SOEHGER12A8AE47DB2', 'ART7Q0O1187B9A79FA', 887, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (92, datetime.datetime(9999, 6, 27, 4, 40, 39), 58, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 522, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (220, datetime.datetime(9999, 6, 27, 4, 40, 39), 53, 'free', 'SOSELMV12A6D4FCF5A', 'ARWD25M1187FB4C563', 52, 'Klamath Falls, OR', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"'),
 (228, datetime.datetime(9999, 6, 27, 4, 40, 39), 92, 'free', 'SOZDGSX12A8C139AA7', 'ARYPTWE1187FB49D64', 938, 'Palestine, TX', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [16]:
%sql SELECT * FROM dim_users limit 5 ;

 * postgresql://dwhuser:***@dwhcluster.c8nxrlthvxvi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(100, 'Adler', 'Barrera', 'M', 'free'),
 (80, 'Tegan', 'Levine', 'F', 'free'),
 (88, 'Mohammad', 'Rodriguez', 'M', 'free'),
 (30, 'Avery', 'Watkins', 'F', 'paid'),
 (80, 'Tegan', 'Levine', 'F', 'paid')]

In [17]:
%sql SELECT * FROM dim_artists limit 5 ;

 * postgresql://dwhuser:***@dwhcluster.c8nxrlthvxvi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARUITN01187FB44935', 'Alphawezen', None, None, None),
 ('AR5F3S31187FB3D67B', 'Hidrogenesse', None, None, None),
 ('ARJL3W01187B9921ED', 'Nicholas Payton', 'New Orleans, LA', None, None),
 ('ARJ7SQ31187B9AF432', 'Billy Bragg & Wilco', 'Barking, Essex, England', None, None),
 ('ARTEOIV11C8A417A4E', 'Mala Reputación', None, None, None)]

In [18]:
%sql SELECT * FROM dim_time limit 5 ;

 * postgresql://dwhuser:***@dwhcluster.c8nxrlthvxvi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 20, 57, 10, 796000), 20, '1', '44', 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, '1', '44', 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 2, 12, 796000), 21, '1', '44', 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, '1', '44', 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 21, '1', '44', 11, 2018, '4')]

In [ ]:
# below query helps us To Identify how long each user is spending on the website

In [22]:
%%sql 
Select 
  b.user_id,
  b.first_name,
  b.last_name,
  sum(a.session_id)
  from 
  fact_songplay a inner join 
  dim_Users b on a.user_id = b.user_id 
  group by 
   b.user_id, b.first_name,b.last_name ;

 * postgresql://dwhuser:***@dwhcluster.c8nxrlthvxvi.us-west-2.redshift.amazonaws.com:5439/dwh
57 rows affected.

[(50, 'Ava', 'Robinson', 1466),
 (78, 'Chloe', 'Roth', 1107),
 (36, 'Matthew', 'Jones', 8651),
 (91, 'Jayden', 'Bell', 90),
 (49, 'Chloe', 'Cuevas', 36421),
 (75, 'Joseph', 'Gutierrez', 721),
 (70, 'Jaleah', 'Hayes', 113),
 (6, 'Cecilia', 'Owens', 847),
 (55, 'Martin', 'Johnson', 415),
 (61, 'Samuel', 'Gonzalez', 1064),
 (24, 'Layla', 'Griffin', 9905),
 (83, 'Stefany', 'White', 1421),
 (15, 'Lily', 'Koch', 7943),
 (42, 'Harper', 'Barrett', 2088),
 (81, 'Sienna', 'Colon', 317),
 (23, 'Morris', 'Gilmore', 177),
 (28, 'Brantley', 'West', 270),
 (44, 'Aleena', 'Kirby', 8409),
 (33, 'Bronson', 'Harris', 1853),
 (85, 'Kinsley', 'Young', 5724),
 (35, 'Molly', 'Taylor', 171),
 (101, 'Jayden', 'Fox', 1393),
 (66, 'Kevin', 'Arellano', 1006),
 (86, 'Aiden', 'Hess', 1367),
 (94, 'Noah', 'Chavez', 530),
 (62, 'Connar', 'Moreno', 476),
 (58, 'Emily', 'Benson', 7429),
 (71, 'Ayleen', 'Wise', 70),
 (32, 'Lily', 'Burns', 554),
 (92, 'Ryann', 'Smith', 1876),
 (69, 'Anabelle', 'Simpson', 494),
 (53, 'Celeste', 'Williams', 912),
 (88, 'Mohammad', 'Rodriguez', 14121),
 (80, 'Tegan', 'Levine', 18105),
 (100, 'Adler', 'Barrera', 896),
 (30, 'Avery', 'Watkins', 2959),
 (12, 'Austin', 'Rosales', 671),
 (90, 'Andrea', 'Butler', 148),
 (8, 'Kaylee', 'Summers', 1153),
 (26, 'Ryan', 'Smith', 491),
 (98, 'Jordyn', 'Powell', 865),
 (73, 'Jacob', 'Klein', 7561),
 (2, 'Jizelle', 'Benjamin', 449),
 (95, 'Sara', 'Johnson', 2752),
 (54, 'Kaleb', 'Cook', 951),
 (63, 'Ayla', 'Johnson', 785),
 (67, 'Colm', 'Santana', 1221),
 (57, 'Katherine', 'Gay', 56),
 (40, 'Tucker', 'Garrison', 874),
 (97, 'Kate', 'Harrell', 16956),
 (82, 'Avery', 'Martinez', 2174),
 (29, 'Jacqueline', 'Lynch', 7516),
 (25, 'Jayden', 'Graves', 3518),
 (16, 'Rylan', 'George', 4950),
 (52, 'Theodore', 'Smith', 1202),
 (72, 'Hayden', 'Brock', 762),
 (10, 'Sylvie', 'Cruz', 182)]

In [23]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.c8nxrlthvxvi.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2020, 4, 8, 12, 4, 23, 127000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-78dc2c24',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-d0bcdaa8',
  'AvailabilityZone': 'us-west-2a',
  'PreferredMaintenanceWindow': 'sun:12:30-sun:13:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::835243883054:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '2b1a50bd-79f3-11ea-b024-8993c1ef3a76',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '2b1a50bd-79f3-11ea-b024-8993c1ef3a76',
   'content-type': 'text/xml',
   'content-length': '2382',
   'vary': 'Accept-Encoding',
   'date': 'Wed, 08 Apr 2020 23:46:29 GMT'},
  'RetryAttempts': 0}}

In [27]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.c8nxrlthvxvi.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-d0bcdaa8
7,NumberOfNodes,4

In [26]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'RequestId': '0eb6373f-6159-44a1-8e4b-b4f10962b147',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '0eb6373f-6159-44a1-8e4b-b4f10962b147',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Wed, 08 Apr 2020 23:46:44 GMT'},
  'RetryAttempts': 0}}